[user]
	name = <<insert your name>>
	email = <<insert your e-mail>>
[alias]
	gconfig = config --global
	st = status
	ci = commit
	cia = commit --amend -C HEAD
	br = branch
	df = diff
	dc = diff --cached
	up = pull --rebase
	co = checkout
	cob = checkout -b
	lg = !git log --graph --decorate --pretty=oneline --abbrev-commit --all
	wip = "!git add -A; git ls-files --deleted -z | xargs -0 -I {} git rm {}; git commit -m \"wip\""
	unwip = !git log -n 1 | grep -q -c wip && git reset HEAD~1
[core]
	pager = less -+ -RX
[color]
	ui = auto
[push]
	default = simple
